body {
    font-family: Arial, sans-serif; /* Changes font for all body text */
}

#logo {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    font-color: #fff;
    padding: 10px 20px 10px 20px;
}

header {
    background-color: #333; /* Background color for the header */
}

.navigation {
    list-style-type: none; /* Remove default list bullet points */
    margin: 0;
    padding: 0;
    background-color: #333; /* Set the background color */
}

.navigation li {
    display: inline; /* Display list items horizontally */
}

.navigation li a {
    display: block; /* Make anchor links full-width for easier clicking */
    padding: 15px 20px; /* Add padding to create clickable areas */
    text-decoration: none; /* Remove underlines from links */
    color: white; /* Set the text color */
}

.navigation li a:hover {
    background-color: #555; /* Style for hover effect */
}

.centered_text {
    text-align: center;
}
